.container-Div1 {
  display:block;
  background: white;
  margin: 10px;
  padding: 10px;
  color: black;
}

.outterPage {
  background-color: red;
  text-align: center;
  color: Yellow;
}

.innerPage {
  background-color: blue;
  text-align: center;
}

.container-Div2 {
  background: white;
  display: block;
  margin: 100px;
  padding: 20px;
  color: red;
}

.btn {
  color: red;
}

body {
  background-color: black;
}
